* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eaeaea;
    display: grid;
    place-items: center;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: orange;
    position: fixed;
    top: 0;
}

img {
    display: block;
    margin: 0, auto;
    height: auto;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    padding: 4rem 1rem 1rem;
    justify-content: center;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
    width: 100%;
    max-height: 500px;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 30px 50px rgba(104, 97, 97, 0.51);
}

.image-slide {
    background: #f5f5f5;
    height: 100%;
    width: 100%;
    display: flex;
    place-items: center;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.container {
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    max-width: 1250px;
    width: 100%;
    max-height: 450px;
    height: 100%;
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

.content {
    text-shadow: 0px 5px 42px rgba(0, 0, 0, 0.3);
    color: #eee;
    font-family: system-ui;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 40%;
    width: 100%;
    height: 100%;
}

.content > h2 {
    font-size: 40px;
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 10px;
    color: black;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content > a {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    text-decoration: none;
    background-color: #00d3ee;
    border-radius: 25px;
    box-shadow: 0px 5px 42px rgba(0, 0, 0, 0.3);
    color: brown;
    transition: all 0.3s ease-in-out;
}

.content > a:hover {
    text-shadow: none;
    box-shadow: inset 0px 5px 42px rgba(0, 0, 0, 0.3);
}

.slider-view {
    max-width: 500px;
    width: 100%;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 30px 50px rgba(104, 97, 97, 0.51);
    transition: background-image 0.3s ease-in-out;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    background-image: url('media/snake.jpg');
    transition: transform 0.3s ease-in-out;
    animation: preview;
}

@keyframes preview{
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.btn-wrapper {
    position: absolute;
    bottom: 0;
    padding: 2rem;
}

.btn-wrapper > button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.btn-wrapper button:hover {
    background: #ababab;
    color: #fff;
}

.platform-access {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    bottom: 0;
}

.platform-access > a {
    max-width: 50px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.platform-access > a:hover {
    transform: scale(1.5, 1.5);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

@media (max-width:779px) {
    .item {
        flex-direction: column;
    }

    .content {
        max-width: 100%;
        align-items: center;
        height: auto;
    }

    .wrapper {
        max-height: 100vh;
    }

    .slider-view {
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
}

